<!DOCTYPE HTML>
<html>
<head>
    <title>数据中心</title>
    <meta charset="utf-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>
<br>
<div>
    <label style="font-size: 18px;">数据数量:</label>
    <input type="text" class="form-control" style="width: 60px; display: inline-block;" id="num"/>
    <input style="vertical-align: top;" id="limit" type="button" class="btn btn-primary" value="确定"/>
    <label style="font-size: 18px;">刷新频率/秒:</label>
    <input type="text" class="form-control" style="width: 60px; display: inline-block;" id="sec"/>
    <input style="vertical-align: top;" id="flash_time" type="button" class="btn btn-warning" value="确定"/>
</div>
<label style="font-size: 18px;">图表隐藏:</label>
<div class="checkbox" style="display: inline-block;">
    <label>
        <input onclick="Full_check(this)" type="checkbox" checked="true" value="Full_checked"/>全选
    </label>
</div>
<div id="loading" style="width: 400px; margin: 0 auto; display: none;">
    <img style="width: 400px;" src="/static/images/loading.gif">
</div>

</body>
<script>
    //------------------变量------------------//
    var timestamp_list = []
        , device_list = [];
    var chart_list = []
        , serie_list = [];
    var updata;
    //------------------变量------------------//

    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    function Full_check(checkbox) {
        if (checkbox.checked == true) {
            //选中所有checkbox
            var checkArr = document.getElementsByName("checkbox");
            for (var j = 0; j < checkArr.length; j++) {
                checkArr[j].checked = true;
            }
            //更改device_list状态
            for (var device in device_list) {
                device_list[device].block = false;
            }
            //显示所有表
            var chartArr = document.getElementsByName("chart");
            for (var j = 0; j < chartArr.length; j++) {
                chartArr[j].style.display = 'block';
            }
        }
        else if (checkbox.checked == false) {
            //取消选中所有checkbox
            var checkArr = document.getElementsByName("checkbox");
            for (var j = 0; j < checkArr.length; j++) {
                checkArr[j].checked = false;
            }
            //更改device_list状态
            for (var device in device_list) {
                device_list[device].block = true;
            }
            //隐藏所有表
            var chartArr = document.getElementsByName("chart");
            for (var j = 0; j < chartArr.length; j++) {
                chartArr[j].style.display = 'none';
            }
        }
    }

    function Check_change(checkbox) {
        if (checkbox.checked == true) {
            for (var i = 0; i < device_list.length; i++) {
                if (device_list[i].name == checkbox.value) {
                    device_list[i].block = false;
                    break;
                }
            }
            document.getElementById(checkbox.value).style.display = 'block';
        }
        else if (checkbox.checked == false) {
            for (var i = 0; i < device_list.length; i++) {
                if (device_list[i].name == checkbox.value) {
                    device_list[i].block = true;
                    break;
                }
            }
            document.getElementById(checkbox.value).style.display = 'none';
        }
    }

    function activeLastPointToolip(chart) {
        var points = chart.series[0].points;
        chart.tooltip.refresh(points[points.length - 1]);
    }


    //更新方法
    up_data = function () {
        var device_array = []
            ,timestamp_array = [];
        //创建显示设备、时间戳列表
        for (var i = 0; i < timestamp_list.length; i++) {
            if (!device_list[i].block) {
                device_array.push(device_list[i].name);
                timestamp_array.push(timestamp_list[i]);
            }
        }
        //获取最新数据
        $.post(
            "new_data/", {
                device_list: JSON.stringify(device_array),
                stamp_list: JSON.stringify(timestamp_array)
            }, function (json) {
                if (!json) {
                    return;
                }
                for (var device_name in json) {
                    if (json[device_name] != null) {
                        var temp = json[device_name];
                        for (var j = 0; j < temp.length; j++) {
                            var x = temp[j].x,
                                y = temp[j].y;
                            //找出设备在设备列表中的位置
                            var index = -1;
                            for (var t = 0; t < device_list.length; t++) {
                                if (device_list[t].name == device_name) {
                                    index = t;
                                    break;
                                }
                            }
                            if(index == -1){
                                return;
                            }
                            //添加点
                            serie_list[index].addPoint([x, y], true, true);
                            timestamp_list[index] = x;
                            activeLastPointToolip(chart_list[index]);
                        }
                    }
                }
            },
            "json"
        );
    };

    //按钮事件
    $('#flash_time').click(function () {
        if (document.getElementById("sec").value == '') {
            return;
        }
        clearInterval(updata);
        var sec = document.getElementById("sec").value * 1000;
        updata = setInterval(up_data, sec);
    });
    $('#limit').click(function () {
        if(document.getElementById("num").value == ''){
            return;
        }
        //删除table
        var tabel = document.getElementById("list");
        tabel.parentNode.removeChild(tabel);
        //删除表
        $('div[name="chart"]').remove();
        timestamp_list = [];
        device_list = [];
        chart_list = [];
        serie_list = [];
        clearInterval(updata);
        var num = document.getElementById("num").value;
        Load_Data(num);//重新载入数据
    });

    window.onload = Load_Data({{ limit }});//页面加载完毕时加载数据

    //加载数据方法
    function Load_Data(limit) {
        $("#loading").css('display','block');//显示loading图片
        var str = '';
        url = "data/?limit=" + limit;
        //获取数据
        $.getJSON(url, function (json) {
            if (json.device_list) {
                //初始化时间戳、设备列表
                for (var i = 0; i < json.device_list.length; i++) {
                    timestamp_list.push(json[json.device_list[i]].data[json[json.device_list[i]].data.length - 1].x);
                    var device = {
                        name: json.device_list[i],
                        block: false
                    };
                    device_list.push(device);
                }
                //设置更新时钟
                updata = setInterval(up_data, {{ flash_delay }});
                //创造列表 html代码
                str += '<table id="list" class="table"><tbody>';
                var index = 0
                    , flag = true;
                while (true) {
                    str += '<tr>'; //拼接图表格html
                    for (var i = 0; i < 3; i++) {
                        str += '<td><div class="checkbox" style="margin:0;"><label><input type="checkbox" name="checkbox" onclick="Check_change(this)" checked="true" value="' + json.device_list[index] + '" />' + json.device_list[index] + '</label></div></td>';
                        index++;
                        if (index == json.device_list.length) {
                            str += '</tr>';
                            flag = false;
                            break;
                        }
                    }
                    if (flag == false) {
                        break;
                    }
                    str += '</tr>';
                }
                str += '</tbody></table>';

                //创造div html代码
                for (var i = 0; i < json.device_list.length; i++) {
                    str += '<div name="chart" id="' + json.device_list[i] + '" style="min-width:400px;height:400px"></div>'; //拼接str
                }
                //添加html代码
                $("body").append(str);
            }
            //创建highchart
            for (var i = 0; i < json.device_list.length; i++) {
                var d_name = json.device_list[i];
                Highcharts.chart(d_name, {
                    chart: {
                        type: 'spline',
                        marginRight: 10,
                        events: {
                            load: function () {
                                var series = this.series[0],
                                    chart = this;
                                chart_list.push(chart);
                                serie_list.push(series);
                                activeLastPointToolip(chart);
                            }
                        }
                    },
                    title: {
                        text: '动态实时' + d_name + '数据'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'value'
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    series: [{
                        name: json[d_name].type,
                        data: json[d_name].data
                    }]

                });
            }
            $("#loading").css('display','none');//隐藏loading图片
        });

    }
</script>

</html>